.fixed-menu {
    position: fixed;
    top: 60px;
    /* Adjust this value according to your layout */
    right: 0;
    z-index: 9999;
    max-height: calc(100vh - 60px);
    /* Adjust this value according to your layout */
    overflow-y: auto;
}