<app-breadcrumbs title="Calendar" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>


<div class="row">
    <div class="col-xl-12">
        <div class="card card-h-100">
            <div class="card-body">
                <div id="calendar">
                    <full-calendar [options]="calendarOptions"></full-calendar>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div style="clear: both;"></div>
    <p-dialog header="Long Content" class="dialog" [(visible)]="editmodalShow" [style]="{ width: '500px' }" [modal]="true">
        <ng-template pTemplate="header" styleClass="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 p-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Event</h5>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <form [formGroup]="formData" (ngSubmit)="saveEvent()" class="needs-validation" name="event-form"
                id="form-event" novalidate>
                <div class="text-end">
                    <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary" id="edit-event-btn"
                        (click)="showeditEvent()" role="button">Edit</a>
                </div>
                <div class="event-details">
                    <div class="d-flex mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <i class="ri-calendar-event-line text-muted fs-16"></i>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="d-block fw-semibold mb-0" id="event-start-date-tag"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-3">
                            <i class="ri-money-dollar-circle-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="d-block fw-semibold mb-0"> <span id="event-payment-tag"></span></h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-3">
                            <i class="ri-map-pin-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="d-block fw-semibold mb-0"> <span id="event-location-tag"></span></h6>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <i class="ri-discuss-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <p class="d-block text-muted mb-0" id="event-description-tag"></p>
                        </div>
                    </div>
                </div>
                <div class="row event-form">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select class="form-select " name="category" id="event-category"
                                [ngClass]="{'is-invalid': submitted && form['category'].errors}" id="event-category"
                                required>
                                <option value="bg-info-subtle">New</option>
                                <option value="bg-warning-subtle">Shipped</option>
                                <option value="bg-success-subtle">Delivered</option>
                                <option value="bg-danger-subtle">Cancelled</option>
                            </select>
                            <div class="invalid-feedback">Please select a valid event category</div>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="event-title" class="form-label">Customer name</label>
                            <input class="form-control" placeholder="Enter customer name" type="text" name="title"
                                id="event-title" required value="" formControlName="title">
                            <div class="invalid-feedback">Please provide a valid event name</div>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Order Date</label>
                            <div class="input-group">
                                <input type="date" id="event-start-date" class="form-control " placeholder="Select date"
                                    required formControlName="date">
                                <span class="input-group-text"><i class="ri-calendar-event-line"></i></span>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label" for="event-payment">Payment ($)</label>
                            <div>
                                <input type="text" class="form-control" name="event-payment" id="event-payment"
                                    placeholder="Event payment" formControlName="payment">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label" for="event-location">Location</label>
                            <div>
                                <input type="text" class="form-control" name="event-location" id="event-location"
                                    placeholder="Event location" formControlName="location">
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                    <input type="hidden" id="eventid" name="eventid" value="">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label" for="event-description">Description</label>
                            <textarea class="form-control" id="event-description" placeholder="Enter a description"
                                formControlName="description" rows="3" spellcheck="false"></textarea>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-soft-danger" (click)="deleteEventData()"
                        id="btn-delete-event"><i class="ri-close-line align-bottom"></i> Delete</button>
                    <button type="submit" class="btn btn-success" id="btn-save-event">Add Event</button>
                </div>
            </form>
        </ng-template>
    </p-dialog> <!-- end modal-->
    <!-- end modal-->
</div>