<app-breadcrumbs title="Create Product"  [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<form
  id="createproduct-form"
  class="was-validaed"
  [formGroup]="productForm"
  novalidate
>
  <div class="row">
    <div class="col-xl-9 col-lg-8">
      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-sm">
                <div
                  class="avatar-title rounded-circle bg-light text-primary fs-20"
                >
                  <i class="bi bi-box-seam"></i>
                </div>
              </div>
            </div>
            <div class="flex-grow-1">
              <h5 class="card-title mb-1">Product Information</h5>
              <p class="text-muted mb-0">Fill all information below.</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label" for="product-title-input"
              >Product title</label
            >
            <input
              type="hidden"
              class="form-control"
              id="formAction"
              name="formAction"
              value="add"
            />
            <input
              type="text"
              class="form-control"
              id="product-title-input"
              value=""
              formControlName="name"
              placeholder="Enter product title"
              required
            />
            <div class="invalid-feedback">Example invalid feedback text</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Product description</label>

            <p-editor
              [(ngModel)]="text"
              [style]="{ height: '210px' }"
              formControlName="description"
            >
              <p>
                Tommy Hilfiger men striped pink sweatshirt. Crafted with cotton.
                Material composition is 100% organic cotton. This is one of the
                world’s leading designer lifestyle brands and is internationally
                recognized for celebrating the essence of classic American cool
                style, featuring preppy with a twist designs.
              </p>
              <ul>
                <li>Full Sleeve</li>
                <li>Cotton</li>
                <li>All Sizes available</li>
                <li>4 Different Color</li>
              </ul>
            </p-editor>
          </div>

          <div>
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <label class="form-label">Product category</label>
              </div>
              <div class="flex-shrink-0">
                <a
                  [routerLink]="['/products/categories']"
                  class="float-end text-decoration-underline"
                  >Add New</a
                >
              </div>
            </div>
            <div>
              <select
                class="form-select"
                id="choices-category-input"
                name="choices-category-input"
                formControlName="category"
              >
                <option value="">Select product category</option>
                <option
                  *ngFor="let cat of categories"
                  [value]="cat.id_category"
                >
                  {{ cat.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Product Short Description</h5>
        </div>
        <div class="card-body">
            <p class="text-muted mb-2">Add short description for product</p>
            <textarea class="form-control" placeholder="Must enter minimum of a 100 characters"
                rows="3"></textarea>
        </div>
        <!-- end card body -->
    </div>
      <!-- end card -->

      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-sm">
                <div
                  class="avatar-title rounded-circle bg-light text-primary fs-20"
                >
                  <i class="bi bi-images"></i>
                </div>
              </div>
            </div>
            <div class="flex-grow-1">
              <h5 class="card-title mb-1">Product Gallery</h5>
              <p class="text-muted mb-0">Add product gallery images.</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
            <ngx-dropzone-label>
              <div>
                <h2>Please add a product images.</h2>
              </div>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of images"
              [file]="f"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label></ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-sm">
                <div
                  class="avatar-title rounded-circle bg-light text-primary fs-20"
                >
                  <i class="bi bi-list-ul"></i>
                </div>
              </div>
            </div>
            <div class="flex-grow-1">
              <h5 class="card-title mb-1">General Information</h5>
              <p class="text-muted mb-0">Fill all information below.</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="product-price-input"
                  >Price</label
                >
                <div class="input-group has-validation mb-3">
                  <span class="input-group-text" id="product-price-addon"
                    >$</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="product-price-input"
                    placeholder="Enter price"
                    aria-label="Price"
                    aria-describedby="product-price-addon"
                    formControlName="price"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter a product price.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="stocks-input">Stocks</label>
                <input
                  type="text"
                  class="form-control"
                  id="stocks-input"
                  placeholder="Stocks"
                  formControlName="quantityInStock"
                  required
                />
                <div class="invalid-feedback">
                  Please enter a product stocks.
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="manufacturer-brand-input"
                  >sku</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="manufacturer-brand-input"
                  formControlName="sku"
                  placeholder="Enter sku"
                />
              </div>
            </div>
             <div class="col-lg-3 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="Quantity-input">Date Production</label>
                <input type="date" class="form-control"formControlName="dateProduction"
                id="exampleInputdate">
                <div class="invalid-feedback">
                  Please enter a date.
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm">
                    <div
                      class="avatar-title rounded-circle bg-light text-primary fs-20"
                    >
                    <i class="bi bi-basket"></i>
                  </div>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h5 class="card-title mb-1">Variations</h5>
                  <p class="text-muted mb-0">add Variation Product.</p>
                </div>
              </div>
            </div>
          <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">

              <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                  <label class="form-label">Variation</label>
                </div>
              </div>
              <div>
                <select
                  class="form-select"
                  id="choices-category-input"
                  name="choices-category-input"
                  (change)="onVarationSelected($event)"
                >
                  <option value="">Select product Variation</option>
                  <option
                    *ngFor="let variation of Variations"
                    [value]="variation.id"
                  >
                    {{ variation.name }}
                  </option>
                </select>
              </div>
              <div class="error-msg mt-1">
                Please select a product variation.
              </div>
              </div>
              <div>
            </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
              <div class="d-flex align-items-start">
                <label class="form-label">Variation Options</label>
                  </div>

                <div>
                  <select
                    class="form-select"
                    id="choices-category-input"
                    name="choices-category-input"
                    (change)="getProdctItems($event)"
                  >
                    <option value="">Select product Variation</option>
                    <option
                      *ngFor="let variationoption of VariationsOption"
                      [value]="variationoption.id"
                    >
                      {{ variationoption.value }}
                    </option>
                  </select>
                <div class="error-msg mt-1">
                  Please select a product variation.
                </div>
              </div>
              </div>
              </div>

          </div>

          <div class="row" *ngIf="formatTable(productItems).length !== 0">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive table-card">
                            <p-table #dv [value]="productItems" >
                                <ng-template pTemplate="header">
                                    <tr>
                                      <th scope="col">options</th>
                                      <th scope="col">sku</th>
                                      <th scope="col">price</th>
                                      <th scope="col">Quantity</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product let-index="rowIndex">
                                    <tr>
                                        <td class="discount">
                                            <h5 class="mb-0 fs-16">{{product.options}}</h5>
                                        </td>
                                        <td class="couponTitle">{{product.sku}}</td>
                                        <td class="startDate">{{product.price}}</td>
                                        <td class="endDate">{{product.quantity}}</td>

                                        <td>
                                          <ul class="hstack gap-2 list-unstyled mb-0">
                                            <li>
                                                <a class="badge bg-primary-subtle text-primary edit-item-btn" href="javascript:void(0);" data-bs-toggle="modal" (click)="editProductItem(product)">Edit</a>
                                            </li>
                                            <li>
                                              <a href="javascript:void(0);" data-bs-toggle="modal" class="badge bg-danger-subtle text-danger remove-item-btn" (click)="showDialog(product.id)">Delete</a>
                                          </li>
                                        </ul>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
        </div>
          </div>
          <!-- end row -->
      </div>
      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-sm">
                <div
                  class="avatar-title rounded-circle bg-light text-primary fs-20"
                >
                  <i class="bi bi-box-seam"></i>
                </div>
              </div>
            </div>
            <div class="flex-grow-1">
              <h5 class="card-title mb-1">Promotion </h5>
              <p class="text-muted mb-0">Introducing a special promotion for your new product,seize the moment
                and attract customers with exclusive deals and discounts,
                creating a compelling value proposition for your latest creation
               .</p>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div>
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <label class="form-label">Promotion</label>
              </div>
              <div class="flex-shrink-0">
                <a
                  [routerLink]="['/products/promotion']"
                  class="float-end text-decoration-underline"
                  >Add New</a
                >
              </div>
            </div>
            <div class="col-lg-6">
              <select
                class="form-select"
                id="choices-category-input"
                name="choices-category-input"
              >
                <option value="">Select product category</option>
                <option
                  *ngFor="let promotion of promotionList"
                  [value]="promotion.id_promotion"
                >
                  {{ promotion.name }}-{{promotion.discount}}%
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
      <div class="text-end mb-3">
        <button
          type="submit"
          class="btn btn-success w-sm"
          (click)="createProduct()"
        >
          Submit
        </button>
      </div>
    </div>

</div>
</form>


<p-dialog header="Header" [modal]="true" [(visible)]="editableModel" [style]="{width: '800px'}" class="modal-dialog modal-dialog-centered">
  <ng-template pTemplate="header" class="modal-header px-4 pt-4">
      <h5 class="modal-title fs-18" id="exampleModalLabel">Edit Variation</h5>
  </ng-template>
  <ng-template pTemplate="content">
      <form class="tablelist-form" novalidate autocomplete="off" (ngSubmit)="updateProductItem()" [formGroup]="productItemForm">
          <div class="row">
              <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
              <div class="col-lg-12">
                  <div class="mb-3">
                      <label for="Title" class="form-label">price</label>
                      <input type="text" formControlName="price" required autofocus class="form-control" id="Title-field" placeholder=" title">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="mb-3">
                      <label for="startDate" class="form-label">SKU</label>
                      <input type="text" class="form-control" formControlName="sku" id="enddate-field" data-provider="flatpickr" data-date-format="d M, Y" placeholder="Select date" required>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="mb-3">
                      <label for="endDate" class="form-label">Quantity</label>
                      <input type="text" class="form-control" formControlName="quantity" id="enddate-field" data-provider="flatpickr" data-date-format="d M, Y" placeholder="Select date" required>
                  </div>
              </div>

              <div class="col-lg-12 modal-footer">
                  <div class="hstack gap-2 justify-content-end">
                      <button type="button" class="btn btn-ghost-danger" data-bs-dismiss="modal"><i class="ri-close-line align-bottom me-1" (click)="editableModel=false"></i>
                          Close</button>
                      <button type="submit" class="btn btn-primary" id="add-btn">Update Variation</button>
                  </div>
              </div>
          </div>
      </form>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="display" class="modal-dialog modal-dialog-centered p-5" [draggable]="false" [modal]="true">
  <ng-template pTemplate="body">
      <div class="text-center">
          <div class=" text-danger">
              <i class="bi bi-trash display-4"></i>
          </div>
          <div class="mt-4 fs-15">
              <h4 class="mb-1">Are you sure ?</h4>
              <p class="text-muted mx-4 mb-0">Are you sure you want to remove this coupons ?</p>
          </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button type="button" class="btn w-sm btn-light btn-hover" (click)="display=false" id="deleteRecord-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn w-sm btn-danger btn-hover" (click)="deleteRecord()">Yes, Delete
              It!</button>
      </div>
  </ng-template>
</p-dialog>





