<app-breadcrumbs title="Create Product"  [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<form
  id="createproduct-form"
  class="was-validaed"
  [formGroup]="productForm"
  novalidate
>
  <div class="row">
    <div class="col-xl-9 col-lg-8">
      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-sm">
                <div
                  class="avatar-title rounded-circle bg-light text-primary fs-20"
                >
                  <i class="bi bi-box-seam"></i>
                </div>
              </div>
            </div>
            <div class="flex-grow-1">
              <h5 class="card-title mb-1">Product Information</h5>
              <p class="text-muted mb-0">Fill all information below.</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label" for="product-title-input"
              >Product title</label
            >
            <input
              type="hidden"
              class="form-control"
              id="formAction"
              name="formAction"
              value="add"
            />
            <input
              type="text"
              class="form-control"
              id="product-title-input"
              value=""
              formControlName="name"
              placeholder="Enter product title"
              required
            />
            <div class="invalid-feedback">Example invalid feedback text</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Product description</label>

            <p-editor
              [(ngModel)]="text"
              [style]="{ height: '210px' }"
              formControlName="description"
            >
              <p>
                Tommy Hilfiger men striped pink sweatshirt. Crafted with cotton.
                Material composition is 100% organic cotton. This is one of the
                world’s leading designer lifestyle brands and is internationally
                recognized for celebrating the essence of classic American cool
                style, featuring preppy with a twist designs.
              </p>
              <ul>
                <li>Full Sleeve</li>
                <li>Cotton</li>
                <li>All Sizes available</li>
                <li>4 Different Color</li>
              </ul>
            </p-editor>
          </div>

          <div>
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <label class="form-label">Product category</label>
              </div>
              <div class="flex-shrink-0">
                <a
                  [routerLink]="['/products/categories']"
                  class="float-end text-decoration-underline"
                  >Add New</a
                >
              </div>
            </div>
            <div>
              <select
                class="form-select"
                id="choices-category-input"
                name="choices-category-input"
                formControlName="namecategory"
              >
                <option value="">Select product category</option>
                <option
                  *ngFor="let cat of categories"
                  [value]="cat.id_category"
                >
                  {{ cat.name }}
                </option>
              </select>
            </div>
            <div class="error-msg mt-Design & Develop by Themesbrand1">Please select a product category.</div>
          </div>
        </div>
      </div>

      <!-- end card -->

      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-sm">
                <div
                  class="avatar-title rounded-circle bg-light text-primary fs-20"
                >
                  <i class="bi bi-images"></i>
                </div>
              </div>
            </div>
            <div class="flex-grow-1">
              <h5 class="card-title mb-1">Product Gallery</h5>
              <p class="text-muted mb-0">Add product gallery images.</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
            <ngx-dropzone-label>
              <div>
                <h2>Please add a product images.</h2>
              </div>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label></ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-sm">
                <div
                  class="avatar-title rounded-circle bg-light text-primary fs-20"
                >
                  <i class="bi bi-list-ul"></i>
                </div>
              </div>
            </div>
            <div class="flex-grow-1">
              <h5 class="card-title mb-1">General Information</h5>
              <p class="text-muted mb-0">Fill all information below.</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="product-price-input"
                  >Price</label
                >
                <div class="input-group has-validation mb-3">
                  <span class="input-group-text" id="product-price-addon"
                    >$</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="product-price-input"
                    placeholder="Enter price"
                    aria-label="Price"
                    aria-describedby="product-price-addon"
                    formControlName="price"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter a product price.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="stocks-input">Stocks</label>
                <input
                  type="text"
                  class="form-control"
                  id="stocks-input"
                  placeholder="Stocks"
                  formControlName="quantityInStock"
                  required
                />
                <div class="invalid-feedback">
                  Please enter a product stocks.
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="manufacturer-brand-input"
                  >sku</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="manufacturer-brand-input"
                  formControlName="sku"
                  placeholder="Enter sku"
                />
              </div>
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="Quantity-input">Stocks</label>
                <input
                  type="text"
                  class="form-control"
                  id="stocks-input"
                  placeholder="Stocks"
                  formControlName="quantityInStock"
                  required
                />
                <div class="invalid-feedback">
                  Please enter a product stocks.
                </div>
              </div>
            </div> -->
          </div>
          <!-- end row -->
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm">
                    <div
                      class="avatar-title rounded-circle bg-light text-primary fs-20"
                    >
                    <i class="bi bi-basket"></i>
                  </div>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h5 class="card-title mb-1">Variations</h5>
                  <p class="text-muted mb-0">add Variation Product.</p>
                </div>
              </div>
            </div>
          <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">

              <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                  <label class="form-label">Variation</label>
                </div>
              </div>
              <div>
                <select
                  class="form-select"
                  id="choices-category-input"
                  name="choices-category-input"
                  formControlName="namecategory"
                  (change)="onVarationSelected($event)"
                >
                  <option value="">Select product Variation</option>
                  <option
                    *ngFor="let variation of Variations"
                    [value]="variation.id"
                  >
                    {{ variation.name }}
                  </option>
                </select>
              </div>
              <div class="error-msg mt-1">
                Please select a product variation.
              </div>
              </div>
              <div>
            </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
              <div class="d-flex align-items-start">
                <label class="form-label">Variation Options</label>
                  </div>

                <div>
                  <select
                    class="form-select"
                    id="choices-category-input"
                    name="choices-category-input"
                    formControlName="namecategory"
                    (change)="getProdctItems($event)"
                  >
                    <option value="">Select product Variation</option>
                    <option
                      *ngFor="let variationoption of VariationsOption"
                      [value]="variationoption.id"
                    >
                      {{ variationoption.value }}
                    </option>
                  </select>
                <div class="error-msg mt-1">
                  Please select a product variation.
                </div>
              </div>
              </div>
              </div>

          </div>

          <div class="card-body" *ngIf="formatTable(productItems).length !== 0">
            <p-table [value]="formatTable(productItems)" [tableStyle]="{'min-width': '40rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">options</th>
                        <th scope="col">sku</th>
                        <th scope="col">price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td >{{item.options}}</td>
                        <td>{{item.sku}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td><a  class="link-success" (click)="openDialog(item)">update</a></td>
                    </tr>

                </ng-template>
            </p-table>
        </div>
          </div>
          <!-- end row -->
      </div>

      <!-- end card -->
      <div class="text-end mb-3">
        <button
          type="submit"
          class="btn btn-success w-sm"
          (click)="createProduct()"
        >
          Submit
        </button>
      </div>
    </div>

</div>
</form>





    <!-- end col -->









        <!-- <div *ngFor="let item of items; let i = index" [formGroupName]="i">
          <label>Sku:</label>
          <input formControlName="sku" />

          <label>Price:</label>
          <input formControlName="price" />

          <label>Quantity:</label>
          <input formControlName="quantity" />

        </div> -->


    <!-- <form [formGroup]="tableForm">
   <div formArrayName="items">
    <table class="table" [formGroup]="itemForm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">options</th>
          <th scope="col">sku</th>
          <th scope="col">price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items.controls;let i=index">
              <td></td>
              <td><input formControlName="sku"></td>
              <td><input formControlName="price" ></td>
              <td><input formControlName="quantity"  ></td>
          <th scope="row">1</th>

        </tr>
      </tbody>
    </table>

   </div>
   </form> -->

    <!-- end col -->
  <!-- end row -->
