<!-- app breadcrumb -->
<app-breadcrumbs title="Brands" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row align-items-center mb-2">
    <div class="col-xxl-3 col-lg-4 col-sm-9">
        <div class="search-box mb-3 mb-sm-0">
            <input type="text" class="form-control" id="searchInputList" autocomplete="off"
                placeholder="Search brands...">
            <i class="ri-search-line search-icon"></i>
        </div>
    </div><!--end col-->
    <div class="col-lg-auto ms-auto col-sm-3">
        <button data-bs-target="javascript:void(0);" data-bs-toggle="modal" (click)="showBasicDialog()"
            class="btn btn-success w-100"><i class="bi bi-plus-circle me-1 align-middle"></i> Add Brand</button>

        <p-dialog header="Header" [modal]="true" [(visible)]="displayPosition" [style]="{width: '25vw'}"
            class="modal-dialog modal-dialog-centered">
            <ng-template pTemplate="header">
                <h5 class="modal-title fs-18">Create brand profile</h5>
            </ng-template>
            <ng-template pTemplate="body">
                <form autocomplete="off" novalidate class="create-form" (ngSubmit)="saveCategory()"
                    [formGroup]="categoriesForm">
                    <input type="hidden" id="id-field">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center mb-3">
                                <div class="position-relative d-inline-block">
                                    <div class="position-absolute top-100 start-100 translate-middle">
                                        <label for="brandLogo-image-input" class="mb-0" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Select company logo">
                                            <span class="avatar-xs d-inline-block">
                                                <span
                                                    class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                                                    <i class="ri-image-fill"></i>
                                                </span>
                                            </span>
                                        </label>
                                        <input class="form-control d-none" id="brandLogo-image-input" type="file"
                                            accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)">
                                    </div>
                                    <div class="avatar-lg">
                                        <div class="avatar-title bg-light rounded-3">
                                            <img src="#" alt="" id="brandLogo-img"
                                                class="avatar-md h-auto rounded-3 object-fit-cover">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="brandName-input" class="form-label">Brand Name</label>
                                <input type="text" class="form-control" id="brandName-input"
                                    placeholder="Enter brand name" required formControlName="brandName">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-ghost-danger" (click)="displayPosition=false"
                                    data-bs-dismiss="modal"><i class="ri-close-line align-bottom me-1 "></i>
                                    Close</button>
                                <button type="submit" id="addNew" class="btn btn-primary">Add Brand</button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </p-dialog>
    </div><!--end col-->
</div>


<div class="row" id="brand-list">
    <p-dataView #dv [value]="brands" [paginator]="true" [rows]="12" filterBy="name">
        <ng-template let-data pTemplate="listItem" let-index="rowIndex">
            <div class="col-lg-3">
                <div class="card brand-widget card-animate me-3">
                    <div class="card-body text-center pb-2">
                        <img src="{{data.companyLogo}}" alt="" class="brand-img">
                    </div>
                    <div class="card-footer text-center border-0">
                        <h6 class="fs-17">{{data.brandName}}</h6>
                        <p class="mb-0"><a href="javascript:void(0);"
                                class="link-success stretched-link">{{data.productItems}}
                                Items</a></p>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>